.friendViewIcon {
  color: white;
  font-size: 32px;
}

.friendViewProfilePicture {
  max-width: 35px;
  max-height: 35px;
}

#friendViewPopoverListHeader {
  font-size: 20px;
  color: #3880ff;
}

#friendViewPopoverLeave {
  color: #ff0000;
}

#leaveGroup {
  color: #ff0000;
}
.friendViewPopover {
  --min-width: 250px;
  --min-height: 180px;

}

.friendViewPopoverIcon {
  color: #3880ff;
}

#cloudUploadOutline {
  float:right;
  font-size: 35px;
}

#fileSelect {
  opacity:0;
  float:right;
  width:30px;
  position:absolute;
}

.friendViewMessageBox {
  border-top: 1px solid black;
  height: 50px;
  position: fixed;
  bottom: 15px;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  color: black;
}

.friendViewMessageSend {

}

.friendViewMessageButton {
  margin-top: 0px;
  margin-right: 0px;
  height: 100%;
}

.friendViewMessageInput {
  background-color: white;
  font-size: 20px;
  color: black;
}

.bottomSpaceFiller {
  background-color: #ededed;
  height: 15px;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.friendViewMessageContainer {
  --background: #ededed;
  padding: 10px-;
}

.messageContainerDiv {
  position: fixed;
  top: 60px;
  width: 100%;
  bottom: 65px;
  overflow: auto;
  scroll-behavior: smooth;
}

.modalScroll {
  overflow-y: scroll;
}

.friendViewAnchor {
  background-color: #ededed;
  width: 100%;
  height: 68px;
}
.friendViewAnchor2 {
  background-color: red;
  width: 100%;
}
.messageStyle {

}
.friendTitle {
  text-align: center;
}
#friendHeader {
  background-color: #3880ff;
}
