.groupViewIcon {
  color: #ff0000;
  font-size: 32px;
}

.groupViewProfilePicture {
  max-width: 35px;
  max-height: 35px;
}

#groupViewPopoverListHeader {
  font-size: 20px;
  color: #3880ff;
}

#groupViewPopoverLeave {
  color: #ff0000;
}

#leaveGroup {
  color: #ff0000;
}
.groupViewPopover {
  --min-width: 250px;
  --min-height: 180px;

}

.groupViewPopoverIcon {
  color: #3880ff;
}

#cloudUploadOutline {
  float:right;
  font-size: 35px;
}

#fileSelect {
  opacity:0;
  float:right;
  width:30px;
  position:absolute;
}

.groupViewMessageBox {
  border-top: 1px solid black;
  height: 50px;
  position: fixed;
  bottom: 15px;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  color: black;
}

.groupViewMessageSend {

}

.groupTitle {
  text-align: center;
}


.groupViewMessageButton {
  margin-top: 0px;
  margin-right: 0px;
  height: 100%;
}

.groupViewMessageInput {
  background-color: white;
  font-size: 20px;
  color: black;
}

.bottomSpaceFiller {
  background-color: #eeeeee;
  height: 15px;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.groupViewMessageContainer {
  --background: #fff;

}

.messageContainerDiv {
  margin-top: 20px;
  position: fixed;
  top: 60px;
  width: 100%;
  bottom: 65px;
  overflow: auto;
  scroll-behavior: smooth;
}

.modalScroll {
  overflow-y: scroll;
}

.groupViewAnchor {
  background-color: white;
  width: 100%;
  height: 68px;
}
.groupViewAnchor2 {
  background-color: red;
  width: 100%;
}

#socialToolbar2 {
  --background: #3171e0;
  --color: white;
  text-align: center;
  padding-right: 20px;
}

#incomingFriendRequestHeader {
  border-style: solid;
  border-width: medium;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  border: 3px solid #4e8fff;
  padding: 10px;
  text-align: center;
}

#outgoingFriendRequestHeader {
  border-style: solid;
  border-width: medium;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  border: 3px solid #4e8fff;
  padding: 10px;
  text-align: center;
}

.addIcon {
  color: green;
}