.feedBackground {
  --background: #e8e9ec;
}

.feedChatbox {
  width: 100%;
  --background: #dddddd;
  border: 1px solid black;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  bottom: 10px;
  height: 50px;
  position: fixed;
  color: #000000;
  font-size: 16px;
  z-index: 20;
}

.messageFeed {
  height: 500px;
  display: flex;
  flex-direction: column;

}
.labelWrap {
  white-space: normal;
}

.message {
  width: 100%;
}

.messengerContent {
  height: 80vh;

}

.messageWrapper {
}
