.messageLabel {
  --color: #000;
  color: #000;
}

.messageItem {
  --background: #e8e9ec;
  color: #000;
}

.messageContent {
  white-space: wrap;
}

.readReceipt {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}

.readLabel {
  width: 100%;
}
