#socials {
    margin-right:25px;
    margin-left:25px;
}

#members {
    margin-bottom:25px;
}

#about-title{
    margin-top:0px;
    margin-bottom:95px;
    text-decoration:underline;
}

#images {
    margin-right:15px;
    margin-left:15px;

}

