.landingContent {
  --background: #93ccfa;
}

.loginInput {
  width: 50%;
  border-radius: 10px;
  background-color: white;
  --background: #93ccfa;
  text-align:center;
  margin-top: 10px;
  color:black;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.landingToolbar {
    --background: #3171e0;
}

.loginItem {
  --background: transparent;
  margin-left: auto;
  margin-right: auto;
}


.loginButton {
  width: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  --background: #ededed;
  --color: #000000;
  max-width: 600px;
}

.loginLabel {
  --background: #c4eeff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

#loginInputContainer {
  margin-top: 25px;
}

.registerInput {
  width: 95%;
  border-radius: 10px;
  background-color: white;
  --background: #93ccfa;
  text-align:center;
  margin-top: 10px;
  color:black;
}

.registerItem {
  --background: transparent;
  margin-left: auto;
  margin-right: auto;
}


.registerButton {
  width: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  --background: #ededed;
  --color: #000000;
}

.registerLabel {
  --background: #c4eeff;

}

#registerInputContainer {
  margin-top: 25px;
}

.landingSwitch {
  position: fixed;
  bottom: 5%;
  text-align: center;
  width: 100%;
  font-size: 22px;

}
