#closeBlockIcon {
  font-size: 32px;
  color:white;
}

#addBlockIcon {
  font-size:32px;
}

.addSource {
  background-color:white;
  border-radius: 25px;
  color:black;
  text-indent: 10px;

}

#openBlockModal {
  font-size:40px;
}

#blockedSourcesHeader {
  margin-left:40px;
}

#blockedList {
  list-style-type: none;
}

li {
  margin-top: 20px;
}



#emailChangeButton {
  float:right;
  font-size: 35px;
}

#contentFilterButton {
  font-size: 35px;
}

input {
  text-align:right;
}

#userNameChangeButton {
  font-size: 35px;
}
