#closeBlockIcon {
  font-size: 32px;
  color:white;
}



#fileSelect {

  opacity:0;
  
float:right;
width:30px;
position:absolute;
 

 
}

#unblockText {
  margin-top: -270px;
  position:absolute;
}

#cloudUploadOutline {
  float:right;
  font-size: 35px;
}

#addBlockIcon {
  font-size:32px;
}

.addSource {
  background-color:white;
  border-radius: 25px;
  color:black;
  text-indent: 10px;

}

#openBlockModal {
  font-size:40px;
}

#blockedSourcesHeader {
  margin-left:40px;
}

#blockedList {
  list-style-type: none;
}

li {
  margin-top: 20px;
}



#emailChangeButton {
  float:right;
  font-size: 35px;
}

#contentFilterButton {
  font-size: 35px;
}

input {
  text-align:right;
}

#userNameChangeButton {
  font-size: 35px;
}

.settingsToolbar {
  --background: #3171e0;
  --color: white;
  margin-left: auto;
  margin-right: auto;
}

.settingsTitle {
  text-align: center;
  margin-left: auto;
  margin-right: 40px;
  padding-left: 90px;
}

.settingsToolbar2 {
  --background: #418b7c;
  --color: white;
  margin-left: auto;
  margin-right: auto;
}

.settingsTitle2{
  text-align: center;
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
}
