#addFriendModalCloseButton {
  --color: #ff0000;
}

#addFriendModalCloseIcon {
  font-size: 32px;
}

#openSocialPopover {
  font-size: 32px;
}

#addFriendSearch {
  border: 1px solid black;
  border-radius: 10px;
  --padding-start: 10px;
}

#addFriendButton {

}

#addFriendButtonIcon {
  font-size: 28px;
}

#searchFriendItem {
  --inner-padding-top: 10px;
}

.socialHeaderButton {
  --color: #fff;
  color: #fff;
}

#incomingFriendRequestHeader {
  font-size: 22px;
  margin-left: 10px;
}

#outgoingFriendRequestHeader {
  font-size: 22px;
  margin-top: 50px;
  margin-left: 10px;
}

#socialPopoverListHeader {
  font-size: 20px;
  color: #3880ff;
}

#closeCreateGroupModalIcon {
  font-size: 32px;
  color: #ff0000;
}

.socialPopover {
  --min-width: 250px;
  --min-height: 200px;

}

.socialPopoverIcon {
  color: #3880ff;
}

.socialGroupItem {
  border-bottom: 1px solid #aaaaaa;

}

.socialGroupLabel {

}

.socialGroupAvatar {

}

.friendListItem {
  margin-left:20px;
  color: #F428CFF;

}

.denyButton {
  color: #f00;
}

.acceptButton {
  color: #0f0;
}

.denyIcon {
  font-size: 28px;
}

.addIcon {
  font-size: 28px;
}

.createGroupInput {
  --padding-start: 5px;
  border: 1px solid #222222;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  max-width: 600px;
}

#createGroupButton {
  width: 80vw;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.socialToolbar {
  --background: #3171e0;
  --color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.socialTitle {
  text-align: center;
  margin-left: auto;
  margin-right: 50px;
  padding-left: 80px;
}

.socialToolbar2 {
  --background: #418b7c;
  --color: white;
  margin-left: auto;
  margin-right: auto;
}

.socialTitle2{
  text-align: center;
  margin-left: 10px;
  margin-right: 60px;
}
<<<<<<< HEAD

#closeCreateGroupModalIcon {
  color: white;
}
=======
>>>>>>> 14976cd233a39d2c2ce13461ef9ad6b5fd269592
